@model DULICH.Models.Tour_nguoidi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tour_nguoidi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doan_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doan_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nguoidi_dsnhanvien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nguoidi_dsnhanvien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nguoidi_dskhach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nguoidi_dskhach)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="nguoidi_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
