@model DULICH.Models.Tour_nguoidi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tour_nguoidi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doan_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doan_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nguoidi_dsnhanvien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nguoidi_dsnhanvien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nguoidi_dskhach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nguoidi_dskhach)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.nguoidi_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
