@model DULICH.Models.HoaDon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoadon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoadon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doan_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doan_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loaichiphi_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loaichiphi_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaylap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaylap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sotien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sotien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.noidung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
