@model IEnumerable<DULICH.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hoadon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doan_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loaichiphi_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaylap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noidung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoadon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doan_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loaichiphi_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaylap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sotien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noidung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
