@model IEnumerable<DULICH.Models.Tour_gia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gia_sotien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tour_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gia_tungay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gia_denngay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gia_sotien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tour_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gia_tungay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gia_denngay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.gia_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.gia_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.gia_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
