@model IEnumerable<DULICH.Models.Tour_loaichiphi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cp_ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cp_mota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cp_ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cp_mota)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cp_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cp_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cp_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
